<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    </head>
    <body class="container section" style="background-color: #fbe3e8 " >
        <div class="section" style="background-color: #5cbdb9; border: 3px solid black;">
            <center>
                <h1 class="container section" style="alignment: center; color: #ebf6f5">Capstone</h1>
                <div class = "divider"></div>
                <div class = "container section">
                    <input id= "file" type="file" name = "img">
                </div>
                <div class = "container section card-image" >
                    <img src="" style="display: none" id ="img_tag" class="responsive-img"  width = "600px">
                </div>
                <button class="waves-effect waves-light btn-large blue lighten-5 black-text" id="sbt_btn" type="submit" style="display:none">Get Caption</button>
                <div class = "container section card-panel" id = "cap-card" style="display: none">
                    <h4 class="section">Caption</h4>
                    <div class = "divider black" ></div>
                    <p id = "cap_text" class = "section" ></p>
                </div>
            </center>
        </div>

    <script type="text/javascript">
        $(document).ready(function () {
            const inpfile = document.getElementById("file");
            const preview = document.getElementById("img_tag");
            const sbt_btn = document.getElementById("sbt_btn");

            inpfile.addEventListener("change" , function (){
                const file = this.files[0];

                if(file){
                    const reader = new FileReader();
                    preview.style.display = "block";
                    sbt_btn.style.display = "block";
                    reader.addEventListener("load" , function (){
                       preview.setAttribute("src" , this.result);

                    });


                    reader.readAsDataURL(file)
                }
            });

            $('#sbt_btn').click(function() {
                var fd = new FormData();
                var files = $('#file')[0].files;
                const cap = document.getElementById("cap_text");
                const cap_card = document.getElementById("cap-card");
                if(files.length > 0){
                    fd.append('file' , files[0]);
                    $.ajax({
                        url : '/cap/',
                        type : 'POST',
                        data : fd,
                        contentType : false,
                        processData : false,
                        success : function(res) {
                            console.log(res);
                            cap.innerText = res;
                            cap_card.style.display = "block";
                        },
                        error : function(res){
                            console.log("error ==> " + res);
                        },
                    });
                }


            })
        });
    </script>
    </body>
</html>

